.grille {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: url(ressources/space.png);
    animation: background-defile 5s linear infinite;
    position: relative;
}

@keyframes background-defile {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

h3 {
    text-align: center;
    margin: 50px 0;
}

.grille div {
    width: 25px;
    height: 25px;
}

.tireur {
    background: url(ressources/vaisseau.png);
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
    position: absolute;
}

.alien {
    background: url(ressources/ennemies.png);
    background-position: center;
    background-size: contain;
}

.boom {
    background-color: red;
}

.laser {
    background-color: orange;
}

.enemy-container {
    position: relative;
    height: 50% !important;
    width: 100% !important;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.enemy-column {
    width: auto !important;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
}

.player-column {
    width: auto !important;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
}

.player-container {
    position: relative;
    height: 50% !important;
    width: 100% !important;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bullet {
    background: url(ressources/laser.png) !important;
    background-color: rgb(255, 145, 0) !important;
    border: 1px solid rgb(255, 60, 0) !important;
    box-shadow: 0 0 15px rgb(255, 228, 228) !important;
    transform: translateX(200%);
    width: 5px !important;
    height: 15px !important;
    border-radius: 10px;
}